target/
.svn
**/.svn
private
ldap-connector/test/test.ldap.properties

.DS_Store
**/.DS_Store

ldap-connector/nb-configuration.xml

model/nb-configuration.xml

utils/nb-configuration.xml

*.iml

.idea
.project
.settings
.classpath